/* RESET/BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
  --white: #ffffff;
  --light-grey: #edf0f1;
  --violet: #D267FE;
  --dark-violet: #0000FF;
  --pink: #ff6bbb;
  --back: #000000; 

  --font-family: "Mansalva", serif;
  --ff-400: 400;
  --ff-rubik: "Rubik", sans-serif;
  --fw-500: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--ff-rubik);
  font-weight: var(--fw-500);
  font-size: 2rem;
  font-style: normal;
  text-align: center;
  padding: 0 20px;
  background: var(--light-grey);
  color: var(--white);
  width: 100%;
  background-color:black;
  
}

.logo {
  position: fixed;
  right: 25px;
  bottom: 35px;
  display: flex;
}

.notification {
  position: relative;
  margin: auto;
  padding: 10px;
  font-size: 1.5rem;
  font-family: var(--font-family);
  font-weight: var(--ff-400);
} 

 /* .notification:hover{
  background: var(--pink);
  color: var(--back);  
}  */

/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
  padding-bottom: 20px;
  border-radius: 5px 5px 25px 25px;
  margin: 300px auto 0;
  background: var(--pink);
  box-shadow: rgb(50 50 93 / 10%) 0 30px 60px -12px,
    rgb(0 0 0 / 15%) 0 18px 36px -18px;
  font-family: var(--font-family);
  font-weight: var(--ff-400);
}

.nav [type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.nav [type="checkbox"] + label {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
  background: var(--violet);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.nav [type="checkbox"] + label:hover {
  background: var(--dark-violet);
}

.menu li {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
}

.menu li:nth-child(1) {
  transition-delay: 0.2s;
}

.menu li:nth-child(2) {
  transition-delay: 0.15s;
}

.menu li:nth-child(3) {
  transition-delay: 0.1s;
}

.menu li:nth-child(4) {
  transition-delay: 0.05s;
}

.menu li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pink);
}

.menu li a:hover {
  background: var(--violet);
}

.menu li a span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 5%));
  width: 100%;
  font-size: 1.5rem;
  font-weight: var(--ff-400);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  color: var(--white);
  font-weight: bold;
  
}

.nav input:checked + label {
  background: var(--violet);
  transform: translateY(calc(-50% + 4px));
  font-size: 1.5rem;
}

.nav input:checked ~ .menu li:nth-child(1) {
  top: -250px;
  transition-delay: 0.1s;
}

.nav input:checked ~ .menu li:nth-child(2) {
  top: -180px;
  left: calc(50% - 140px);
  transition-delay: 0.2s;
}

.nav input:checked ~ .menu li:nth-child(3) {
  top: -180px;
  left: calc(50% + 140px);
  transition-delay: 0.3s;
}

.nav input:checked ~ .menu li:nth-child(4) {
  top: -110px;
  transition-delay: 0.4s;
}

.nav input:checked ~ .menu li a span {
  opacity: 1;
  transition-delay: 0.9s;
}

/* Grid Layout for Portfolio and Blog Sections */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}


section {
  padding: 40px 20px;
  margin: 20px auto;
  max-width: 1200px;
}
/* Hero Section */
.hero-header { 
  margin-top: 20px;
  border: 1px solid var(--violet);
  border-radius: 10px;
  padding: 20px;
   
   & h2 {
    font-size: 2rem;
    font-family: var(--font-family); 
    font-weight: var(--ff-400);
    text-align: center;
    background: linear-gradient(267deg, #DB7F29 50%, #9f01ea 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

header h1, h1 {
    font-size: 58px;
    margin-top: 2.5rem;
    animation: fadeIn 1s ease-in-out;
    font-family: var(--font-family);
    font-weight: var(--ff-400);
    background: linear-gradient(267deg, #DB7F29 50%, #9f01ea 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .title-lifestyle {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

header .home-icon {
    font-family: var(--font-family);
    font-size: 2rem;
    color: var(--pink);
}

header .home-icon:hover {
    color: var(--violet);
}

header .home { 
    font-size: 1.8rem;
    border-radius: 50%;
    background-color: var(--pink);
    padding: 6px;
}

header .home:hover {
    background-color: var(--violet);
}

/* Section Styles */
.hero-section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1200px;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-in-out;

    & h3 {
        color: var(--white);
        margin-bottom: 30px;
    }
}

.hero-section h2 {
    margin-bottom: 20px;
    text-align: center;    
}



.card {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(203, 34, 147, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    & img {
        border-radius: 25px;
    }
}
  

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(216, 18, 170, 0.2);
   
}

.card h3 {
    color: var(--violet); 
    margin-bottom: 10px;
}

.card p {
    font-size: 2rem;
    color: var(--violet); 
    font-family: var(--font-family);
}

.card .info {
    color: var(--pink);
    font-size: 1.6rem;
    background-color: var(--back);
    padding: 5px 10px;
    border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}


/* MAIN BODY SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;

  & h3 {
    color: #5146e1; 
    margin-top: 20px;

  }
}

.btn, .blog-post a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background: var(--violet);
  color: var(--white);
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: var(--font-family);
  font-weight: var(--ff-400);
  cursor: pointer;
  transition: background 0.3s;
  border: none;
}

.btn:hover, .blog-post a:hover {
  background: var(--dark-violet);
}

/* Blog section */
h3 {
  color: #5146e1; 
  margin-top: 20px;
}

#projects .project, #blog, .blog-post {
  background: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  color: var(--violet);
}

.blog-post h3 {
  color: var(--dark-violet);
  margin-bottom: 1.5rem;
}

.blog-post p {
  font-size: 1.6rem;
  color: var(--dark-violet);
  margin: 1.5rem;
  text-align: justify;
}


.blog-post img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 300px;
  width: 100%;
}

/* .blog-categories button {
  margin: 0 5px;
  padding: 0.5rem 1rem;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
} */

/* END OF MAIN BODY SECTION */


/* CONTACT FORM*/

.contact h2 {
  color: var(--pink);
  margin: 3rem;
}
.contact p {
  font-size: 1.3rem;  
}
/*Form section*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  color: #655be1;
  border-radius: 4px;
  resize: vertical;
}

::placeholder {
  color:#655be1
}

.force-opaque::placeholder {
  opacity: 1;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 1rem;
}

input[type=submit] {
  width: 20%;
  background-color: #655be1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}

input[type=submit]:hover {
  background-color: #56d8e4;
}

.container {
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px; 
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*End of form section*/


/* CONTACT LINKS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0%;
  margin: 35px 25px;
}

.floating-container:hover {
  height: 300px;
}

.floating-container:hover .floating-button {
  background-color: var(--pink);
  box-shadow: 0 10px 25px rgba(114, 91, 228, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}

.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: var(--violet);
  bottom: 15px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}

.floating-container .float-element:nth-child(1) {
  background: var(--pink);
  box-shadow: 0 20px 20px -10px rgba(211, 19, 147, 0.5);
}

.floating-container .float-element:nth-child(2) {
  background: var(--pink);
  box-shadow: 0 20px 20px -10px rgba(210, 16, 113, 0.5);
}

.floating-container .float-element:nth-child(3) {
  background: var(--pink);
  box-shadow: 0 20px 20px -10px rgba(209, 21, 121, 0.5);
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  text-align: center;
  bottom: 0;
  right: 50%;
  left: 50%;
  align-items: center;
  padding: 5px;
  color: var(--pink);
  font-family: var(--font-family);
  font-weight: var(--ff-400);
  margin-top: 4rem;
  & span {
    margin-right: 5px;
  }  
}

.nowrap {
  white-space: nowrap;
}


/* Add a hidden state for animations */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Make visible when in view */
.visible {
    opacity: 1;
    transform: translateY(0);
}



/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 20px;
    }

    .card img {
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .card img {
        width: 300px;
    }
}
